rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /groups/{groupId} {
      // Allow read and write if the user's ID is in the 'members' array
      allow read: if request.auth != null && request.auth.uid in resource.data.members;


      allow create: if request.auth != null &&
      	request.resource.data.name.size() <= 26;	


      allow delete, update: if request.auth != null && 
        request.auth.uid in resource.data.members;
    }
  }
}