<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988144644924-5jjlfnp9avo459nptl56k5ns38mou8jq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988144644924-5jjlfnp9avo459nptl56k5ns38mou8jq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>988144644924-64ir1hln3r7fes0mbnvru30ni1op6o4d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAhYkud1Xf5ZHA4fSNgRAshn40hOPjNk-c</string>
	<key>GCM_SENDER_ID</key>
	<string>988144644924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseTesting</string>
	<key>PROJECT_ID</key>
	<string>fir-testing-f8429</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-testing-f8429.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988144644924:ios:8c143fbc72de7084686439</string>
</dict>
</plist>